body{
  margin:0;
  padding:0;
  
}

.myApp{

  height:100vh;
}

.navbar{
  background: rgba(0,0,0,0.6);
}

.header{
  border-radius:10px;
  height:auto;
  width:70%;
  background: rgba(0,0,0,0.6);
}

img{
  max-height:13rem;
  max-width:10rem;
}

.books{
  height:100vh;
  margin-top:15%;
}


.booksBg{
  background:url('');
  background-color: rgb(40, 44, 52);
}

.cartBg{
  background:url('');
  background-color: rgb(100, 69, 96);
}

.mainBg{
  background: url('./bg.jpg');
  background-size: cover;
  background-position: center;
}

.addToCart:active{
  margin-right:0.5rem;
}

table{
  background-color:white;
}

.caddie{
  height:30rem;
  width:40rem;
}

.far:active{
  transform:scale(1.5);
}

/* Media Queries */

@media (max-width:600px){
  .header{
    border-radius:10px;
    height:auto;
    width:90%;
    background: rgba(0,0,0,0.6);
  }

  .books{
    height:100vh;
    margin-top:45%;
  }

  .caddie{
    margin-top:10%;
    height:30rem;
    width:40rem;
  }
}
